<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/films" method="POST">
        <input type="text" placeholder="Title" name="title" value="title">
        <input type="text" placeholder="director" name="director" value="director">
        <button type="submit">Ajouter un film</button>
    </form>
    
</body>
</html>