<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/removefilms" method="POST">
    <input type="text" placeholder="ID du film à supprimer" name="id">
    <button type="submit">Supprimer un film</button>
</form>
</body>
</html>